.flex-grid .col {
    flex: 1;
    padding: 10px;
    margin-right: 2px;
    background-color: #99999910;
}

body {
    padding: 10px;
}

.flex-grid {
    display: flex;
    margin: 2 2 10px 2;
}

.owner {
    font-weight: bolder;
}

.deployment {
    border: solid 1px #000000;
    border-radius: 5px;
    padding: 6px 10px;
    background-color: green;
    
    a {
        color: #FFFFFF;
    }
}

.header {
    font-weight: bolder;
    margin-top: 6px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
