.flex-grid {
    display: flex;
}
.flex-grid .col {
    flex: 1;
}
.flex-grid-thirds {
    display: flex;
    justify-content: space-between;
}
.flex-grid-thirds .col {
    width: 32%;
}

@media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
        .col {
            width: 100%;
            margin: 0 0 10px 0;
        }
    }
}

* {
    box-sizing: border-box;
}
body {
    padding: 10px;
}
.flex-grid {
    margin: 0 0 10px 0;
    background: lightblue;
}
.col {
    
    padding: 10px;
}

.header {
    background: steelblue;
    margin: 0 0 2px 0;
}