.stages {
    display: flex;
    flex-direction: row;



}

.stage {
    display: flex;
    color: white;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border: solid 1px rgb(91, 91, 91);
    width: 200px;
    text-overflow: ellipsis;
    height: 20px;
}

.stage-pending {

    background-color: rgb(65, 65, 240);
}

.stage-in-progress {

    background-color: rgb(82, 126, 227);
}

.stage-succeeded {
    background-color: rgb(25, 81, 25);
}

.stage-succeeded-with-issues {
    background-color: rgb(156, 78, 9);
}

.stage-failed {
    background-color: rgb(129, 0, 0);
}

.stage-canceled {
    background-color: rgb(83, 83, 83);
}

.stage-skipped {
    background-color: rgb(87, 87, 87);
}

.stage-abandoned {
    background-color: black;
}

.stage-unknown {

    background-color: rgb(83, 83, 83);
}