.stages {
    display: flex;
    flex-direction: row;



}

.stage {
    font-size: xx-small;
    display: flex;
    color: white;
    margin: 5px;
    
    border-radius: 7px;
  
    width: 14px;

    height: 14px;
}



.bolt-status.animate {
    animation: runningAnimation 4s infinite linear;
    @keyframes runningAnimation { 
        from { 
            transform: rotate(0deg); 
        } to { 
            transform: rotate(360deg); 
        }
    }
}
.bolt-status.active {
    color: rgba(0,120,212,1);
    color: var(--component-status-info, rgba(0, 120, 212, 1));
}
.bolt-status.success {
    color: rgba(85,163,98,1);
    color: var(--component-status-success, rgba(85, 163, 98, 1));
}

.bolt-status.failed {
    color: rgba(205,74,69,1);
    color: var(--component-status-error, rgba(205, 74, 69, 1));
}

.bolt-status {
    fill: currentColor;
    margin-right: 4px;
}

.bolt-status.neutral {
    color: rgba(102,102,102,1);
    color: var(--component-status-neutral, rgba(102, 102, 102, 1));
}

.stage-pending {

    background-color: rgba(0, 120, 212, 1);
}

.stage-in-progress {

    background-color: rgb(94, 172, 233);
}

.stage-succeeded {
    background-color: rgba(85, 163, 98, 1);
}

.stage-succeeded-with-issues {
    background-color: rgba(214, 127, 60, 1);
}

.stage-failed {
    background-color: rgba(205, 74, 69, 1);
}

.stage-canceled {
    background-color: rgba(102, 102, 102, 1);
}

.stage-skipped {
    background-color: rgb(165, 165, 165);
}

.stage-abandoned {
    background-color: black;
}

.stage-unknown {

    background-color: rgba(102, 102, 102, 1);
}